:root {
  --logoo-color-: #95e1d3;
  --main-text-color: #b6b6b6;
  --titel-color-: #333;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

header {

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--logoo-color-);
  font-size: 30px;
  font-weight: 700;
}
.header__nav {
}
.header__nav-list {
  display: flex;
  gap: 55px;
}
.header__nav-item {
}
.header__nav-link {
  color: var(--logoo-color-);
  font-size: 14px;
  font-weight: 400;
}

/* serviesec */
.services {
}
.services__text {
}
.services__title {
}

/* works */
.works {
}
.works__list {
}
.works__item {
}
.works__subtitle {
}
.works__text {
  color: #b6b6b6;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
}

.header__nav-link:hover, .header__nav-link:focus {
    color: #F38181;
}

