
/* works */
.works {
    margin-bottom: 100px;
  }
  
  .works__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  
  .works__item {
    display: flex;
    flex-basis: calc((100% - 3 * 60px) / 3);
  }
  
  .works__icon {
    width: 37px;
    height: 37px;
    fill: #95e1d3;
  }
  
  .works__item svg {
    margin-right: 20px;
  }
  
  .works__subtitle {
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .works__text {
    width: 274px;
    @extend %main-text;
  }
